
.icon-emo-happy:before { content: '\e800'; } /* '' */
.icon-emo-wink:before { content: '\e801'; } /* '' */
.icon-emo-wink2:before { content: '\e802'; } /* '' */
.icon-emo-unhappy:before { content: '\e803'; } /* '' */
.icon-emo-sleep:before { content: '\e804'; } /* '' */
.icon-emo-thumbsup:before { content: '\e805'; } /* '' */
.icon-emo-devil:before { content: '\e806'; } /* '' */
.icon-emo-surprised:before { content: '\e807'; } /* '' */
.icon-emo-tongue:before { content: '\e808'; } /* '' */
.icon-emo-coffee:before { content: '\e809'; } /* '' */
.icon-emo-sunglasses:before { content: '\e80a'; } /* '' */
.icon-emo-beer:before { content: '\e80b'; } /* '' */
.icon-emo-displeased:before { content: '\e80c'; } /* '' */
.icon-emo-grin:before { content: '\e80d'; } /* '' */
.icon-emo-angry:before { content: '\e80e'; } /* '' */
.icon-emo-saint:before { content: '\e80f'; } /* '' */
.icon-emo-cry:before { content: '\e810'; } /* '' */
.icon-emo-shoot:before { content: '\e811'; } /* '' */
.icon-emo-squint:before { content: '\e812'; } /* '' */
.icon-emo-laugh:before { content: '\e813'; } /* '' */
.icon-spin1:before { content: '\e814'; } /* '' */
.icon-spin2:before { content: '\e815'; } /* '' */
.icon-spin3:before { content: '\e816'; } /* '' */
.icon-spin4:before { content: '\e817'; } /* '' */
.icon-spin5:before { content: '\e818'; } /* '' */
.icon-spin6:before { content: '\e819'; } /* '' */