/* Default Print Stylesheet Template
   by Rob Glazebrook of CSSnewbie.com
   Last Updated: June 4, 2008

   Feel free (nay, compelled) to edit, append, and 
   manipulate this file as you see fit. */

footer {
    display:none;
}

/* SECTION 1: Set default width, margin, float, and
   background. This prevents elements from extending 
   beyond the edge of the printed page, and prevents
   unnecessary background images from printing */
* {
	-webkit-print-color-adjust: exact; 
}

body {
	font-size: 18pt;
	width: auto;
	height: auto;
	border: 0;
	margin: 0 5%;
	padding: 0;
	float: none !important;
	overflow: visible;
/*	background-image: none !important;*/
}

html {
	width: auto;
	height: auto;
	overflow: visible;
}

/* SECTION 2: Remove any elements not needed in print. 
   This would include navigation, ads, sidebars, etc. */
.nestedarrow, 
.controls, 
.reveal .progress, 
.reveal.overview,
.fork-reveal,
.share-reveal,
.state-background {
	display: none !important;
}

/* SECTION 3: Set body font face, size, and color.
   Consider using a serif font for readability. */
body, p, td, li, div {
	font-size: 18pt;
}

/* SECTION 4: Set heading font face, sizes, and color.
   Diffrentiate your headings from your body text.
   Perhaps use a large sans-serif for distinction. */
h1,h2,h3,h4,h5,h6 {
	text-shadow: 0 0 0 #000 !important;
}

/* SECTION 5: Make hyperlinks more usable.
   Ensure links are underlined, and consider appending
   the URL to the end of the link for usability. */
a:link, 
a:visited {
	font-weight: bold;
	text-decoration: underline;
}


/* SECTION 6: more reveal.js specific additions by @skypanther */
ul, ol, div, p {
	visibility: visible;
	position: static;
	width: auto;
	height: auto;
	display: block;
	overflow: visible;
	margin: auto;
}
.reveal .slides {
	position: static;
	width: 100%;
	height: auto;

	left: auto;
	top: auto;
	margin-left: auto;
	margin-top: auto;
	padding: auto;

	overflow: visible;
	display: block;

	text-align: center;

	-webkit-perspective: none;
	   -moz-perspective: none;
	    -ms-perspective: none;
	        perspective: none;

	-webkit-perspective-origin: 50% 50%; /* there isn't a none/auto value but 50-50 is the default */
	   -moz-perspective-origin: 50% 50%;
	    -ms-perspective-origin: 50% 50%;
	        perspective-origin: 50% 50%;
}
.reveal .slides section {

	page-break-after: always !important; 

	visibility: visible !important;
	position: static !important;
	width: 100% !important;
	height: auto !important;
	min-height: initial !important;
	display: block !important;
	overflow: visible !important;

	left: 0 !important;
	top: 0 !important;
	margin-left: 0px !important;
	margin-top: 50px !important;
	padding: 20px 0px !important;

	opacity: 1 !important;

	-webkit-transform-style: flat !important;
	   -moz-transform-style: flat !important;
	    -ms-transform-style: flat !important;
	        transform-style: flat !important;

	-webkit-transform: none !important;
	   -moz-transform: none !important;
	    -ms-transform: none !important;
	        transform: none !important;
}
.reveal section.stack {
	margin: 0px !important;
	padding: 0px !important;
	page-break-after: avoid !important; 
}
.reveal section .fragment {
	opacity: 1 !important;
	visibility: visible !important;
	
	-webkit-transform: none !important;
	   -moz-transform: none !important;
	    -ms-transform: none !important;
	        transform: none !important;
}
.reveal img {
	box-shadow: none;
}
.reveal .roll {
	overflow: visible;
	line-height: 1em;
}
.reveal small a {
	font-size: 16pt !important;
}
